{% extends "base.html" %} 

{% block title %}<title>Home</title>{% endblock %}

{% block customcss %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
        * { font-family: 'Montserrat', sans-serif; }
        body { width: auto; height: 100%; background-color: beige; display: flex; justify-content: center; align-items: center; }

        .container { position: relative; width: 360px; height: 640px; background-image: url('../static/bg.png'); opacity: .8; }
        .header { margin-top: 11rem; margin-left: 2rem; }
        .cta { 
            display: flex; align-items: center; position: absolute; bottom: 3rem; left: 6.5rem;
            border: 1px solid #8C5383; border-radius: 20px; background-color: #9DAAAE; 
            width: fit-content; padding: 0 1rem; opacity: 100%;
            cursor: pointer;
        }
        .cta_arrow { margin-left: .5rem; color: #251101; font-size: 40px; transform: rotateZ(-90deg) !important; }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"><p style="font-size: 35px; color: #8C5383; font-variant: small-caps;">fast collector</p></div>
        <div class="cta">
            <p style="margin: 0; font-weight: 500; font-size: 18px; color: #251101;">Entrer</p>
            <span class="iconify cta_arrow" data-inline="false" data-icon="bi:arrow-down-short"></span>
        </div>
    </div>
{% endblock %}
